.pane-plain-box-temporary-2ea099fb08cd8adda4380527e1215ebe {
  margin-bottom: 10px;
  color: #000000;
  background-color: #ffffff;
}

.pane-plain-box-temporary-2ea099fb08cd8adda4380527e1215ebe h2 {
  color: #00652E;
  background-color: #d3d8d1;
}

